# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# uv
.python-version

# IDE - VS Code
.vscode/

# OS metadata
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Docker data (на случай, если используешь локальные папки для томов)
.docker-data/